
<div id="budget_info" class="budget-info">
  <div class="row margin-top">
    <div class="small-12 column">

        <div class="map inline">
          <p class="lead"><strong><%= t("budgets.index.map.title") %></strong> <%= t("budgets.index.map.type") %></p>
          <%= render_map(nil, "proposals", false, nil, coordinates) %>
        </div>
    </div>
  </div>
</div>
