//
//  Development: ENREDA
//  Version: 0.0.1
//  -----------------------------
//
//  Table of Contents:
//
//      1. Imports
//      2. Global
//      3. Header
//      4. Footer
//      5.
//
//  -----------------------------

//  1. Imports
// ------

// Fonts
//
// 01. Source Sans Pro (https://www.google.com/fonts/specimen/Source+Sans+Pro)
// 02. Lato (https://www.google.com/fonts/specimen/Lato)
// 03. Oswald (https://fonts.google.com/specimen/Oswald)
//

// 01. Source Sans Pro
// - - - - - - - - - - - - - - - - - - - - - - - - -

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 300;
  src: font-url("custom/Archivo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo";
  font-style: italic;
  font-weight: 300;
  src: font-url("custom/Archivo-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  src: font-url("custom/Archivo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo";
  font-style: italic;
  font-weight: 400;
  src: font-url("custom/Archivo-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  src: font-url("custom/Archivo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo";
  font-style: italic;
  font-weight: 500;
  src: font-url("custom/Archivo-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  src: font-url("custom/Archivo-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo";
  font-style: italic;
  font-weight: 600;
  src: font-url("custom/Archivo-HeavyItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  src: font-url("custom/Archivo-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo";
  font-style: italic;
  font-weight: 700;
  src: font-url("custom/Archivo-BlackItalic.ttf") format("truetype");
}

//  2. Global
// ------

body {
  font-family: "Archivo", "Helvetica", "Arial", sans-serif !important;
  background-color: $body-color;
}
// Fix width page content
body > .wrapper {
  width: 100%;
}

*
  :not(.button):not(input):not(select):not(header):not(a):not(li):not(.pagination):not(button):not(.footer-columns__header):not(.footer-header-wrapper):not(.subfooter-wrapper):not(.admin-content) {
  border: none !important;
}

.white {
  background-color: transparent;
  color: $white;
}

.black {
  color: $black;
}

.warning {
  color: $text-warning;
}

//  3. Header
// ------

body > header,
.wrapper > header {
  border-bottom: 2px solid black !important;
  background-color: $header-color;
  padding: 1.5rem 0;

  .header-row {
    padding: 0 1rem;
  }
}

.top-bar {
  @extend %brand-background;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @include breakpoint(medium) {
    padding: 0;
  }

  .top-bar-title {
    height: auto;
    max-width: 100%;
    margin: 0;
    a {
      outline: none !important;
      img {
        max-height: 150px;
        width: auto;

        @include breakpoint(medium down) {
          height: rem-calc(48);
        }
      }
      .header-icon {
        -webkit-animation: spin 5s linear infinite;
        -moz-animation: spin 5s linear infinite;
        animation: spin 5s linear infinite;
      }
      @-moz-keyframes spin {
        100% {
          -moz-transform: rotate(360deg);
        }
      }
      @-webkit-keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      @keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  }

  .top-bar-social {
    width: rem-calc(140);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: baseline;
    a {
      margin-right: 10px;
    }

    @include breakpoint(medium down) {
      display: none;
    }
  }
  .top-bar-links {
    width: 25%;
    .menu {
      display: block;
      text-transform: uppercase;
      font-family: "Archivo";
      a {
        vertical-align: top;
        color: black;
        padding: 5px 16px;
        height: auto;
      }
    }
    @include breakpoint(medium down) {
      display: none;
    }
  }

  .float-right {
    .menu-icon {
      &.dark {
        &:hover::after,
        &::after {
          background: black;
          box-shadow: 0 7px 0 black, 0 14px 0 black;
        }
      }
    }
    @include breakpoint(large up) {
      display: none;
    }
  }
}

a,
button,
.button {
  border-radius: 0 !important;
}

// Lateral menu
.offcanvas-full-screen {
  position: fixed;
  z-index: 1;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: $secondary;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  overflow-y: auto;
}

[data-whatinput="mouse"] .offcanvas-full-screen {
  outline: 0;
}

.offcanvas-full-screen.is-transition-overlap {
  z-index: 10;
}

.offcanvas-full-screen.is-transition-overlap.is-open {
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
}

.offcanvas-full-screen.is-open {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.offcanvas-full-screen.is-open ~ .off-canvas-content {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.offcanvas-full-screen.is-transition-push::after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
  content: " ";
}

.offcanvas-full-screen.is-transition-overlap.is-open ~ .off-canvas-content {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.offcanvas-full-screen-inner {
  text-align: center;
}

.offcanvas-full-screen-menu {
  margin: 0;
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.offcanvas-full-screen-menu > li {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

[data-whatinput="mouse"] .offcanvas-full-screen-menu > li {
  outline: 0;
}

.offcanvas-full-screen-menu > li > a {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;
  font-family: "Archivo";
  text-transform: uppercase;
}

.offcanvas-full-screen-menu input,
.offcanvas-full-screen-menu select,
.offcanvas-full-screen-menu a,
.offcanvas-full-screen-menu button {
  margin-bottom: 0;
}

.offcanvas-full-screen-menu > li {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.offcanvas-full-screen-menu > li > a {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.offcanvas-full-screen-menu a {
  color: #0a0a0a;
}

.offcanvas-full-screen-menu a:hover {
  color: #fefefe;
}

.offcanvas-full-screen-close {
  cursor: pointer;
  outline: none;
  max-width: 250px;
}

// 4. Proposals

.help-header,
.section-header {
  background: $body-color;
  border-bottom: none;

  h1 {
    font-size: rem-calc(48);
    font-family: "Archivo" !important;
    text-transform: none;
    font-weight: 700;
    font-style: normal;
    color: black;
  }

  .title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      text-align: center;
      color: $body-font-color-accent !important;
    }
    p {
      font-family: "Archivo" !important;
      font-weight: 300;
      font-size: rem-calc(20);
      color: black;
      border-bottom: none;
      text-align: center;
      color: $body-font-color-accent !important;
    }
    img {
      max-width: 300px;
    }
    .btn {
      text-align: center;
      a {
        justify-self: center;
        background-color: $black;
        border-radius: 30px !important;
        text-transform: uppercase;
      }
    }
    .help2 {
      font-weight: 500;
    }
  }
}

.new-proposal-bottom-btn {
  width: 100%;
  text-align: center;
  a {
    justify-self: center;
    background-color: $black;
    border-radius: 30px !important;
    text-transform: uppercase;
    color: $white !important;
    &:hover {
      background-color: $black;
    }
  }
}

.proposals-list {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $body-font-color-accent !important;
  }
}

.in-favor > .button-support {
  background: $accent !important;
}

.actions {
  .button:disabled {
    pointer-events: none;
  }
}

.panel {
  background-color: $panel-color !important;
  .proposal-content {
    h3 > a {
      color: $body-font-color-accent !important;
    }
    .proposal-info {
      color: $black !important;
    }
    .proposal-description {
      p {
        color: $black !important;
      }
    }
  }
}

.breadcrumb {
  font-size: 0px;
}
.date {
  position: absolute;
  top: -30px;
  left: -10px;
  font-weight: 600;
}
.breadcrumb > * {
  font-size: 16px;
  color: #253e6a;
  background: #c8f1fe;
  display: inline-block;
  padding: 10px 8px 10px 45px;
  margin: 20px 10px 10px 0;
  // height: 40px;
  line-height: 40px;
  position: relative;
}
.breadcrumb > span {
  background: #76cae6;
}
.breadcrumb > span:after {
  border-color: transparent transparent transparent #76cae6;
}

.breadcrumb > :before {
  position: absolute;
  top: 0;
  content: "";
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 30px;
  border-color: transparent transparent transparent #76a2f8;
  z-index: 1;
}

.breadcrumb > :after {
  position: absolute;
  top: 0;
  content: "";
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 30px;
  border-color: transparent transparent transparent #c8f1fe;
  z-index: 2;
}

.breadcrumb :first-child {
  padding-left: 20px;
}
.breadcrumb :first-child:before {
  border: none;
}
.highlight {
  background-color: #fbdd2c;
}
.highlight:after {
  border-color: transparent transparent transparent #fbdd2c;
}

.proposals-list {
  .title {
    margin: 0;
    padding: 0;
    h2 {
      font-family: "Archivo" !important;
      font-weight: 300;
      font-size: rem-calc(33);
      color: black;
      text-transform: uppercase;
      span {
        font-weight: 500;
        img {
          max-width: 20px;
          margin-left: 10px;
        }
      }
    }
  }
  .show-for-small-only {
    .button {
      background-color: $accent;
    }
  }
  a {
    color: black;
  }
}

.advanced-search {
  float: left;
  margin: $line-height 0;
  position: inherit;

  @include breakpoint(xlarge) {
    float: right;
    margin-bottom: 0;
    margin-top: $line-height / 4;
    position: absolute;
    right: 0;
  }
}

.submenu {
  border-bottom: 1px solid #5e5a5a !important;
  clear: both;
  margin-bottom: $line-height / 2;

  .is-active {
    @include brand-text;
    border-bottom: 2px solid $white !important;

    &:hover {
      text-decoration: none;
    }
  }
  span {
    font-family: "Archivo" !important;
    font-weight: 300;
    font-size: rem-calc(18);
    color: $body-font-color-accent;
  }
  h2 {
    font-family: "Archivo" !important;
    font-weight: 500;
    font-size: rem-calc(18);
    color: $body-font-color-accent;
  }
}

.related-content {
  h2,
  a {
    color: $white;
  }
}

// Sidebar
aside {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $black !important;
  }
  .sidebar-title {
    color: $black !important;
  }
  .categories {
    .is-active {
      background-color: black;
    }
    a {
      border: 2px solid black;
      background-color: transparent;
      color: black;
      &:hover {
        background: black;
      }
    }
  }
  .button.hollow {
    color: black;
    border-color: black;
  }

  .button {
    background-color: $accent;
    background: $accent;
    color: black;
    padding-bottom: 1rem;
  }
  p {
    a {
      color: black;
    }
  }
}

// Comments
.additional-content {
  h3 {
    color: $black !important;
  }
}

// Footer

.footer {
  background-color: black;
  padding-top: 0;
  margin-top: 100px;
}

footer {
  font-family: "Archivo", "Helvetica", "Arial", sans-serif !important;
  font-size: rem-calc(14);
  background-color: black;
  .footer-image {
    padding-left: 0;
    margin: 50px 0;
  }
  .footer-header-wrapper {
    border-bottom: 1px solid white !important;
  }
  .footer-headers {
    color: $white;
  }
  .footer-links {
    margin-top: 10px;
    margin-bottom: 180px;
    padding-bottom: 1rem;
    color: $white;
    li > a,
    span {
      color: $white;
      font-weight: 600;
      font-family: sans-serif;
      text-decoration: none;
    }
    li > a:hover {
      text-decoration: underline;
    }
    input {
      font-size: rem-calc(14);
      border: 1px solid white;
      background-color: transparent;
      &:focus {
        outline-style: none;
        box-shadow: none;
        border: 1px solid white;
        background-color: transparent;
        caret-color: $white;
      }
    }
    button {
      height: 2.4375rem;
      width: 100%;
      border: 1px solid white;
      background-color: $white;
      padding: 0 8px;
      text-align: left;
    }
  }
  .footer-columns {
    &__header {
      border-bottom: 1px solid white !important;
    }
    padding-bottom: 1rem;
    color: $white;
    li > a,
    span {
      color: $white;
      font-weight: 600;
      font-family: sans-serif;
      text-decoration: none;
    }
    li > a:hover {
      text-decoration: underline;
    }
    input {
      font-size: rem-calc(14);
      border: 1px solid white;
      background-color: transparent;
      &:focus {
        outline-style: none;
        box-shadow: none;
        border: 1px solid white;
        background-color: transparent;
        caret-color: $white;
      }
    }
    button {
      height: 2.4375rem;
      width: 100%;
      border: 1px solid white;
      background-color: $white;
      padding: 0 8px;
      text-align: left;
      margin-bottom: 10px;
    }
  }

  .footer-logos {
    margin-bottom: 30px;
    .coopesp {
      margin-left: 20px;
    }
  }

  .subfooter-wrapper {
    border-top: 1px solid white !important;
  }
  .subfooter {
    color: $white;
    padding-bottom: 20px;
    font-size: rem-calc(8);
  }
}

.filter-subnav {
  margin-bottom: 0 !important;
}

.tabs-content {
  padding-top: 1.5rem;
}

// 5. Sign In  / Sign Up
.auth-form {
  h2 {
    color: $body-font-color !important;
  }
  @include breakpoint(medium) {
    padding-top: $line-height;
  }

  p,
  a,
  .checkbox {
    font-size: $small-font-size;
  }
}

// Paginator
.pagination {
  li {
    border-radius: 0% !important;
    font-size: rem-calc(30) !important;
    min-width: 2.8125rem;
    color: black !important;
    background-color: transparent;
    :hover {
      background-color: transparent;
      border: none;
      text-decoration: none;
    }
  }
  .current {
    background-color: transparent !important;
    border-bottom: 2px solid black;
  }
  .pagination-next {
    background-color: black !important;
    a {
      color: white !important;
    }
    ::after {
      content: none;
    }
  }
  .pagination-previous {
    background-color: black !important;
    a {
      color: white !important;
    }
    ::before {
      content: none;
    }
  }
}

// Admin
.admin-content {
  background-color: #fbfbfb;
  border-left: 2px solid black !important;
}

// New proposal
.icon-proposals {
  color: $accent !important;
  opacity: 1 !important;
}
.recommendations {
  list-style-type: none;
  margin-left: 0;
  margin-top: $line-height;

  li {
    font-size: $small-font-size;
    margin: $line-height / 2 0;

    &::before {
      content: none !important;
      font-family: "icons" !important;
    }
  }
}
.white-form {
  label,
  .help-text,
  p {
    color: $accent !important;
  }
}

.callout.warning {
  strong {
    color: $black;
  }
}

.proposal-form {
  .btn {
    text-align: center;
    input {
      justify-self: center;
      background-color: $black;
      border-radius: 30px !important;
      text-transform: uppercase;
    }
  }
}

// Proposal Edit
.proposal-edit {
  h1 {
    color: $black;
  }
  .float-right > a {
    color: $black;
  }
  .actions {
    .button {
      justify-self: center;
      background-color: $black;
      border-radius: 30px !important;
      text-transform: uppercase;
    }
  }
}

// Created proposal
.created-proposal-banner {
  background-color: $body-color !important;
  color: $white;
  .title {
    font-size: rem-calc(28);
  }
  .button {
    background: $white;
    color: $black;
    font-weight: 500;
    border-radius: 30px !important;
  }
  .notice {
    margin: auto;
    max-width: 50rem;
  }
}
.preview {
  background-color: $header-color-transparent;
  &-card {
    padding-top: 30px;
    background-color: $white;
    h1,
    h2,
    h3 {
      color: $black;
    }
  }
}

// Show proposal
.proposal-show {
  h1 {
    color: $black;
  }
}

//Account
.account_navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-bottom: 40px;
  li {
    margin-right: 30px;
    a {
      color: black !important;
    }
  }
}

.account,
.activity {
  background-color: $white;
  padding: 50px 50px;
  border-radius: 10px;
  margin: auto;
  width: fit-content;
  h1,
  h2 {
    color: $black;
  }
}

.account {
  width: 100%;
  max-width: 700px;
}

.activity {
  width: 100%;
}

// Registration
.registration {
  .date-of-birth {
    select {
      float: left;
      width: 33.33%;
    }
  }
}

// Getting started
.getting-started {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  h1 {
    text-align: center;
    color: $body-font-color-accent !important;
    font-family: "Archivo" !important;
    font-weight: 700;
  }
  p {
    font-family: "Archivo" !important;
    font-weight: 300;
    font-size: rem-calc(30);
    color: black;
    border-bottom: none;
    text-align: center;
    color: $body-font-color-accent !important;
  }
  img {
    max-width: 300px;
  }
  .btn {
    text-align: center;
    a {
      justify-self: center;
      background-color: $black;
      border-radius: 30px !important;
      text-transform: uppercase;
    }
  }
  .help2 {
    font-weight: 500;
  }
}
