<span class="flag-content">
  <% if show_flag_action?(flaggable) %>
    <% if local_assigns[:divider] %>
      <span class="divider">&nbsp;|&nbsp;</span>
    <% end %>

    <span id="flag-drop-<%= dom_id(flaggable) %>" class="clickable-flag" data-dropdown data-auto-focus="true">
      <span class="icon-flag"></span>
      <%= link_to t("shared.flag"), polymorphic_path(flaggable, action: :flag), method: :put, remote: true %>
    </span>
  <% end %>

  <% if show_unflag_action?(flaggable) %>
    <% if local_assigns[:divider] %>
      <span class="divider">&nbsp;|&nbsp;</span>
    <% end %>

    <span id="unflag-drop-<%= dom_id(flaggable) %>" data-dropdown data-auto-focus="true">
      <%= link_to t("shared.unflag"), polymorphic_path(flaggable, action: :unflag), method: :put, remote: true %>
    </span>
  <% end %>
</span>
