<div class="help-header">
  <div class="row">
    <div class="small-12 column" data-magellan>
      <h1 class="inline-block"><%= t("#{i18n_namespace}.title") %></h1>
      <div class="title-subtitle">
        <p><%= t("#{i18n_namespace}.help") %></p>
      </div>
    </div>
  </div>
</div>
