<div class="help-header">
  <div class="row">
    <div class="title-subtitle column">
      <div class="small-6">
        <h1 class="inline-block"><%= t("#{i18n_namespace}.title") %></h1>
        <p><%= t("#{i18n_namespace}.help") %></p>
      </div>
      <%= image_tag(image_path_for("megafono.png"), class: "small-6", alt: setting["org_name"]) %>
    </div>
  </div>
</div>
